@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");
.nav {
  position: fixed;
  left: 0;
  width: 70px;
  height: 100vh;
  background-color: #BE2F2F;
  -webkit-box-shadow: 3px 0px 13px -7px #333333;
  -moz-box-shadow: 3px 0px 13px -7px #333333;
  box-shadow: 3px 0px 13px -7px #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .nav .nav_links {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .nav .nav_links .nav_links-link {
      text-align: center;
      margin: 0 0 15px 0;
      padding: 15px 0;
      width: 100%;
      transition: 0.2s;
      cursor: pointer; }
      .nav .nav_links .nav_links-link .nav_links-link-icon {
        font-size: 32px;
        transition: 0.2s;
        color: #fff; }
      .nav .nav_links .nav_links-link:hover {
        background-color: #d9d9d9; }
        .nav .nav_links .nav_links-link:hover .nav_links-link-icon {
          color: #BE2F2F; }

.link--active {
  background-color: #fff; }
  .link--active i {
    color: #BE2F2F !important; }

.hero {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .hero .hero_title {
    font-size: 60px;
    font-weight: bold;
    border-bottom: 2px solid #BE2F2F; }
  .hero .hero_desc {
    font-weight: bolder;
    font-size: 22px; }
    .hero .hero_desc span {
      border-bottom: 1px solid #BE2F2F; }
  .hero .hero_arrow {
    position: absolute;
    bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .hero .hero_arrow .hero_arrow-text {
      font-weight: bolder;
      font-size: 20px;
      border-bottom: 2px solid transparent; }
    .hero .hero_arrow .hero_arrow-icon {
      transition: 0.2s;
      font-size: 28px;
      cursor: pointer; }
      .hero .hero_arrow .hero_arrow-icon:hover {
        color: #BE2F2F; }
        .hero .hero_arrow .hero_arrow-icon:hover .hero_arrow-text {
          border-bottom-color: #BE2F2F; }

.about {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", Arial, Helvetica, sans-serif; }
  .about .about_desc {
    position: relative;
    top: 15%;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .about .about_desc .about_desc-title {
      font-size: 60px;
      text-decoration: underline;
      text-decoration-color: #BE2F2F; }
    .about .about_desc .about_desc-text {
      font-size: 22px; }

.contribute {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", Arial, Helvetica, sans-serif; }
  .contribute .contribute_desc {
    position: relative;
    top: 15%;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .contribute .contribute_desc .contribute_desc-title {
      font-size: 60px;
      text-decoration: underline;
      text-decoration-color: #BE2F2F; }
    .contribute .contribute_desc .contribute_desc-text {
      font-size: 22px; }
      .contribute .contribute_desc .contribute_desc-text a {
        color: black;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: #BE2F2F; }
    .contribute .contribute_desc .contribute_desc-social .contribute_desc-social--title {
      font-size: 32px;
      text-decoration: underline;
      text-decoration-color: #BE2F2F; }
    .contribute .contribute_desc .contribute_desc-social .contribute_desc-social--icons {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .contribute .contribute_desc .contribute_desc-social .contribute_desc-social--icons .contribute_desc-social--icon {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        align-items: center; }
        .contribute .contribute_desc .contribute_desc-social .contribute_desc-social--icons .contribute_desc-social--icon:hover .contribute_desc-social--icon-icon {
          color: #BE2F2F; }
        .contribute .contribute_desc .contribute_desc-social .contribute_desc-social--icons .contribute_desc-social--icon:hover .contribute_desc-social--icon-text {
          text-decoration: underline;
          text-decoration-color: #BE2F2F; }
        .contribute .contribute_desc .contribute_desc-social .contribute_desc-social--icons .contribute_desc-social--icon .contribute_desc-social--icon-icon {
          font-size: 32px;
          transition: 0.2s; }
        .contribute .contribute_desc .contribute_desc-social .contribute_desc-social--icons .contribute_desc-social--icon .contribute_desc-social--icon-text {
          font-size: 22px;
          margin-left: 10px;
          transition: 0.2s; }

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }
